name: DAB Deploy + Run (Prod)

on:
  push:
    tags:
      - "v*"

jobs:
  deploy-prod:
    runs-on: ubuntu-latest

    env:
      # Databricks auth
      DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
      DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Databricks CLI
        uses: databricks/setup-cli@main

      # --- BOOTSTRAP ---
      - name: Deploy and run bootstrap for PROD
        run: |
          # Overriding the catalog variable specifically for this run
          databricks bundle deploy -t bootstrap --var="bootstrap_catalog=main_uc_prod" --auto-approve
          databricks bundle run bootstrap_uc -t bootstrap --var="bootstrap_catalog=main_uc_prod"
      
      # --- DEPLOY PROD ---
      - name: Validate prod target
        run: databricks bundle validate -t prod

      - name: Deploy prod target
        run: databricks bundle deploy -t prod --auto-approve

      - name: Run main prod job
        run: |
          databricks bundle run get_met_stations -t prod
          databricks bundle run ingest_update_met -t prod
