name: Run Get MET Stations (manual)

on:
  workflow_dispatch:
    inputs:
      target:
        description: "Which environment to run?"
        type: choice
        options:
          - dev
          - prod
        default: dev

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Databricks CLI
        uses: databricks/setup-cli@main

      - name: Run Get MET Stations
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
        run: |
          databricks bundle run Get_MET_Stations -t ${{ inputs.target }}
